/* BADGES */

.eui-badge-container {
  display: none;
}


/* POPUPS */

.popup {
  border-radius: 5px;
}

.info.popup {
  padding-bottom: 5px !important;
  padding-left: 0;
  padding-right: 0;
}

/* BUTTONS */
.ol-control #settings {
  margin-bottom: 10px;
  margin-top: 10px;
}

.bottomleft-container > button, body > #layers {
  min-width: 40px;
  min-height: 40px;
}

.game-menu > button, button#ops, #attack-menu, body>#layers {
  text-transform: uppercase;
}

.popup-close[data-round=true], #inventory__close[data-round=true] {
  font-weight: 600;
  border: 2px solid #777;
  border-radius: 100px;
  font-size: 1.5em !important;
  height: 2em;
  width: 2em;
}

.splide__arrow {
  height: 3em;
  width: 3em;
  border: 1px solid #777;
  border-radius: 100px;
  background: revert;
}

.splide__arrow svg {
  fill: var(--text);
}

#discover:not([data-time]) .discover-progress,
.info.popup.hidden .discover-progress {
  display: none;
}

.discover-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 2px;
  background-color: #7777;
  filter: opacity(.75);
  transition: width 1s linear;
}

.i-buttons>button,
.attack-slider-buttons>button,
.draw-slider-buttons>button:not(.fa) {
  position: relative;
}

/* ATTACK SLIDER */

#catalysers-list > .splide__slide {
  min-width: max-content !important;
  width: 100px !important;
}


/* DEPLOY SLIDER */

#cores-list > .splide__slide {
  min-width: max-content !important;
  width: 80px !important;
}


/* DRAW LINE SLIDER */

.refs-list__image>div {
  border-radius: 5px;
}

.draw-slider-wrp .splide__slide {
  width: calc(((75% + 1em) / 2) - 1em) !important;
  max-width: 200px;
  transition: all 0.2s ease-in-out;
}

.draw-slider-wrp .splide__slide.is-active {
  transition: all 0.2s ease-in-out;
}

.draw-slider-wrp .draw-slider-buttons:not(.fa) {
  justify-content: center;
}

.draw-slider-wrp .draw-slider-buttons button:not(.fa) {
  padding: 6px;
  text-transform: uppercase;
}

/* POINT INFO */

/* Info popup image fixes */
.i-header {
  border-bottom-style: hidden;
  z-index: 1;
}

#i-title {
  display: block;
  overflow: hidden;
  /* text-wrap: balance; */
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 5px;
}

.i-image-box {
  margin-top: -32px;
  min-height: 150px !important;
}

#i-level, .sbgcui_point_star {
  margin-top: 25px;
}

.i-buttons {
  order: 1;
  margin: 0 0 0.5em;
  display: flex !important;
  gap: 0.25em !important;
  width: 100% !important;
}

.i-buttons>button {
  padding: 6px 2px;
  min-width: fit-content;
  min-height: 45px;
  width: 30%;
  flex-basis: unset !important;
}

.i-buttons>button[disabled] {
  filter: opacity(.75);
}

#discover {
  width: calc(90% + 0.5em);
  order: 1 !important;
}

#discover[data-time]:after {
  color: var(--text);
  width: 30%;
  left: 0;
  transform: translate(0%, 110%);
  direction: ltr;
}

.i-stat {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;

  grid-template-areas:
    "distance lines"
    "owner regions"
    "energy reward"
    "cores cores"
    "slider slider"
    "buttons buttons" !important;
}

.i-stat__entry:not(.i-stat__cores) {
  margin: 0 5px;
  min-width: 45%;
}

.i-stat__cores {
  margin-top: 0.5em;
  width: inherit;
}

.deploy-slider-wrp {
  width: inherit;
}

@keyframes blink {
  50% {
    box-shadow: 0px 0px 2px 2px transparent;
  }
}

.i-stat__core {
  border-width: 1px;
  border-radius: 100px;
  width: 1.7em;
  height: 1.7em;
  line-height: 1.7em;
  box-shadow: 0px 0px 2px 2px transparent;
  transition: box-shadow 0.25s ease-in-out;
}

.i-stat__core.selected {
  border-width: 2px;
  box-shadow: 0px 0px 2px 2px var(--selection);
  animation: blink 2s linear infinite;
}

.deploy-slider-error {
  border-radius: 5px;
}


/* SETTINGS */

input#eui-links-opacity {
  -webkit-appearance: none;
  appearance: none;
  overflow: hidden;
  padding: 0;
  max-width: 100px;
  background: #7777;
  border-radius: 3px;
  border: none !important;
}

input#eui-links-opacity::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0px solid transparent;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: var(--selection);
  box-shadow: -250px 0 0 250px var(--selection);
  cursor: pointer;
}

input#eui-links-opacity::-moz-range-thumb {

  border: 0px solid transparent;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: var(--selection);
  box-shadow: -250px 0 0 250px var(--selection);
  cursor: pointer;
}

/* INVENTORY */

#inventory-delete-section {
  margin-right: 0;
}

.inventory__controls select,
.inventory__controls input {
  min-width: 50px;
  width: 100%;
}

input[data-type="reference-search"] {
  padding: 0 6px;
}

.zen {
  filter: opacity(.75)
}

/* 
 * SBG CUI Compatibility: enhancements and support 
 */

/* Attack button enhancements */
#attack-menu, .topleft-container {
  backdrop-filter: none !important;
  -webkit-backdrop-filter: none;
}

#attack-menu {
  border-style: double !important;
  border-top-style: solid !important;
  -moz-transform: rotate(0deg) !important; /* Revert Firefox desktop fix */
}

#attack-menu.sbgcui_attack-menu-rotate {
  border-bottom-style: solid !important;
  border-top-style: double !important;
}

/* TODO: removed CUI sort until it has the same sort speed */

.sbgcui_refs-sort-button, .sbgcui_refs-sort-select {
  display: none !important;
}
/*.sbgcui_refs-sort-button {
  position: static;
  height: revert;
  width: revert;
  color: revert;
  background-color: revert;
  border: 1px solid #777;
  border-radius: 2px;
  box-shadow: revert;
  min-width: 30px;
  font-size: 1em;
}*/

/* Linear gradient for energy amount */
.inventory__content[data-tab="3"] .inventory__item.loaded .inventory__item-left::before {
  background: linear-gradient(90deg, #fff0 0%, var(--sbgcui-branding-color) 100%) !important;
}

/* Replace 'R' button symbol with '⚡' emoji symbol */
:root {
  --sbgcui-display-r-button: none;
}
.inventory__content[data-tab="3"] .inventory__item-controls::after {
  content: '⚡' !important;
  display: var(--sbgcui-display-r-button);
}

/* Draw slider sort size restriction */
.sbgcui_drawslider_sort {
  max-width: 60px !important;
}

/* Estimated lifetime */
#i-stat__energy>span {
  font-size: small;
  font-weight: bold;
}

.info.popup>.popup-close {
  position: relative !important;
}