@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');

:root {
  --i-color: #F9FAFC;
  --i-bg-color: #112025;
  --i-bg-color-cc: #112025CC;
  --i-bg-color-aa: #112025AA;

  --i-selection-color: #FF7C2B;
  --i-selection-bg-color: #49230E77;

  --i-btn-color: #97FBFB;
  --i-btn-bg-color: #20474C;
  --i-btn-glow-color: #007B85;
  --i-btn-border-color: #38E8E6;

  --i-btn-hl-color: #FCD959;
  --i-btn-hl-bg-color: #563F20;
  --i-btn-hl-glow-color: #A07F14;
  --i-btn-hl-border-color: #DAC546;

  --i-btn-disabled-color: #7E888A;
  --i-btn-disabled-bg-color: #112325;
  --i-btn-disabled-accent-color: #CB3C36;
}

body, input, select, button,
#bottom #i-share::after, #bottom #i-copy-pos::after {
  font-family: 'Coda', system-ui, -apple-system, BlinkMacSystemFont, 'Manrope', sans-serif;
}

/* BADGES */

.eui-badge-container {
  display: flex;
}

/* BUTTONS */

.game-menu>button, .bottomleft-container>button, body>#layers {
  font-family: 'Coda', 'Manrope', sans-serif;
}

.i-buttons>button,
.settings.popup button:not(.popup-close),
.attack-slider-buttons>button,
.draw-slider-buttons>button,
.inventory.popup button,
.layers-config__buttons>button,
.pr-buttons>button,
#classic-login,
#form__buttons-login,
.sbgcui_compare_stats>button,
.inventory__manage-amount button,
.notifs__entry-view.icon-button, /* View point [notification list] */
input:not(input[name^="maxAmountInBag"]), /* CUI Compatibility */
.cui-clear-cache-button, /* CUI Compatibility */
select {
  border-style: solid;
  text-transform: uppercase;
  font-family: 'Coda', 'Manrope', sans-serif;
}

#discover, #deploy, #repair, #draw {
  position: relative;
}

#eui-sort:disabled {
  opacity: 0.7;
}

.i-buttons>button::before,
.attack-slider-buttons>button::before,
.draw-slider-buttons>button:not(.fa)::before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -1px;
  right: -1px;
  height: 4px;
  width: 12px;
  border-radius: 100px 0 0 0;
  border-left: 2px solid;
  border-top: 2px solid;
}

.i-buttons>button,
.settings.popup button:not(.popup-close),
#draw-slider-close,
#attack-slider-close,
.inventory.popup button,
.layers-config__buttons>button,
.pr-buttons>button,
.sbgcui_compare_stats>button,
.inventory__manage-amount button,
#eui-console-execute,
.notifs__entry-view.icon-button, /* View point [notification list] */
input:not(input[name^="maxAmountInBag"]), .sbgcui_drawslider_sort, .sbgcui_drawslider_fit, .cui-clear-cache-button, /* CUI Compatibility */
select {
  color: var(--i-btn-color);
  background: linear-gradient(to top, var(--i-btn-glow-color) 0%, var(--i-btn-bg-color) 30%, var(--i-btn-bg-color) 70%, var(--i-btn-glow-color) 100%), var(--i-btn-bg-color);
  border-color: var(--i-btn-border-color);
  border-width: revert;
}

input[type="search"] {
  border-radius: 0px !important;
}

option {
  background-color: var(--i-btn-bg-color);
}

option:checked { /* WTF? checked is non-documented??? */
  color: var(--i-btn-hl-color);
  background-color: var(--i-btn-hl-bg-color);
}

.i-buttons>button::before,
#draw-slider-close::before,
#attack-slider-close::before {
  background-color: var(--i-btn-border-color);
  border-color: var(--i-btn-border-color);
  box-shadow: inset 2px 2px 0 0px var(--i-btn-glow-color);
}

#attack-slider-fire,
#eui-attack-slider-fire,
#draw-slider-confirm,
.inventory__ma-delete,
#layers-config__save,
#classic-login,
#form__buttons-login,
#inventory-delete[data-del="1"] {
  color: var(--i-btn-hl-color) !important;
  background: linear-gradient(to top, var(--i-btn-hl-glow-color) 0%, var(--i-btn-hl-bg-color) 30%, var(--i-btn-hl-bg-color) 70%, var(--i-btn-hl-glow-color) 100%), var(--i-btn-hl-bg-color) !important;
  border-color: var(--i-btn-hl-border-color) !important;
}

.inventory__item-controls::after {
  border-radius: 0px !important;
  box-shadow: inset 0px 0px 0px 2px var(--i-btn-hl-border-color);
  color: var(--i-btn-hl-color) !important;
  background: linear-gradient(to top, var(--i-btn-hl-glow-color) 0%, var(--i-btn-hl-bg-color) 30%, var(--i-btn-hl-bg-color) 70%, var(--i-btn-hl-glow-color) 100%) !important;
}

#attack-slider-fire::before, 
#eui-attack-slider-fire::before, 
#draw-slider-confirm::before {
  background-color: var(--i-btn-hl-border-color);
  border-color: var(--i-btn-hl-border-color);
  box-shadow: inset 2px 2px 0 0px var(--i-btn-hl-glow-color);
}

#attack-slider-fire[disabled], #draw-slider-confirm[disabled] {
  filter: opacity(0.75);
  -webkit-backdrop-filter: var(--blur5);
  backdrop-filter: var(--blur5);
}

.i-buttons>button[disabled], 
.draw-slider-buttons>button[disabled],
#draw[sbgcui-possible-lines="0"] { /* CUI Compatibility */
  color: var(--i-btn-disabled-color);
  background: var(--i-btn-disabled-bg-color);
  border-color: var(--i-btn-disabled-accent-color);
}

.i-buttons>button[disabled]::before, 
.draw-slider-buttons>button[disabled]::before,
#draw[sbgcui-possible-lines="0"]::before { /* CUI Compatibility */
  background-color: var(--i-btn-disabled-accent-color);
  border-color: var(--i-btn-disabled-accent-color);
  box-shadow: inset 2px 2px 0 0px var(--i-btn-disabled-bg-color);
}

select[data-setting='theme']:disabled {
  filter: opacity(0.5) !important;
}

.popup-close[data-round=true], #inventory__close, .splide__arrow,
.sbgcui_log-close, #sbgcui_hide_viewer { /* CUI Compatibility */
  color: var(--i-btn-hl-color) !important;
  background: var(--i-btn-hl-bg-color) !important;
  box-shadow: inset 0px 0px 6px 3px var(--i-btn-hl-glow-color) !important;
  border-color: var(--i-btn-hl-border-color) !important;
}

.splide__arrow svg {
  fill: var(--i-btn-hl-color);
}

.ol-control {
  border-radius: 0 !important;
}

.ol-control button, #eui-hide,
.sbgcui_log-buttons>button, #sbgcui_batch_remove { /* CUI Compatibility */
  border: 1px solid var(--i-btn-border-color) !important;
  color: var(--i-btn-color) !important;
  background-color: var(--i-btn-bg-color) !important;
  border-radius: 0 !important;
  box-shadow: inset 0px 0px 6px 3px var(--i-btn-glow-color) !important;
}

#ops {
  border: 1px solid var(--i-btn-hl-border-color) !important;
  color: var(--i-btn-hl-color) !important;
  background-color: var(--i-btn-hl-bg-color) !important;
  border-radius: 0 !important;
  box-shadow: inset 0px 0px 6px 3px var(--i-btn-hl-glow-color) !important;
}

#eui-hide, #ops {
  min-height: 64px;
}

.ol-zoom .ol-zoom-in {
  border-radius: 0 !important;
}

/* SLIDER ITEMS */

.draw-slider-wrp .splide__slide.is-active .refs-list__image>div {
  box-shadow: inset -8px 0px 0px -5px  var(--i-selection-color),
      inset -10px 0px 8px -6px  var(--i-selection-bg-color),
      inset 8px 0px 0px -5px  var(--i-selection-color),
      inset 10px 0px 8px -6px  var(--i-selection-bg-color);
}

#catalysers-list>.splide__slide.is-active, #cores-list>.splide__slide.is-active{
  box-shadow: inset -8px 0px 0px -5px var(--i-selection-color),
      inset -10px 0px 8px -6px var(--i-selection-bg-color),
      inset 8px 0px 0px -5px var(--i-selection-color),
      inset 10px 0px 8px -6px var(--i-selection-bg-color);
  border-radius: 5px;
  -webkit-backdrop-filter: var(--blur5);
  backdrop-filter: var(--blur5);
}


/* INVENTORY */

.inventory__content, .inventory__tab.active {
  border-color: var(--selection);
}

.inventory__controls select,
.inventory__controls input {
  border-width: 1.6px;
}


/* POPUPS */

.profile.popup,
.info.popup,
.leaderboard.popup,
.score.popup,
.settings.popup,
.layers-config.popup,
.inventory.popup,
.credits.popup,
.notifs.popup,
.inventory__manage-amount,
#draw-slider,
#attack-slider,
.attack-slider-highlevel {
  color: var(--i-color);
  background-color: var(--i-bg-color-cc);
  -webkit-backdrop-filter: var(--blur5);
  backdrop-filter: var(--blur5);
  border-radius: 0px;
  border-color: var(--i-btn-border-color) !important;
}

.i-stat__core.selected {
  border-color: var(--i-btn-border-color) !important;
  box-shadow: 0px 0px 2px 2px var(--i-btn-border-color);
}

.pr-stat:not(:last-child) {
  border-bottom: 1px #D1D1D144 solid;
}

.pr-xp-progress {
  border: none;
}

.pr-xp-check {
  background: none;
}

.layers-config__header,
.leaderboard.popup>.popup-header,
.settings.popup>h3,
.credits.popup h3,
.notifs.popup>h3 {
  text-transform: uppercase;
  font-family: 'Coda', 'Manrope', sans-serif;
}

#discover[data-time]:after {
  color: var(--i-color);
}

.discover-progress {
  border-radius: 0px !important;
  background-color: var(--i-btn-disabled-accent-color);
}

.deploy-slider-error {
  background-color: var(--i-bg-color-aa);
}

/* POINT INFO */
@media screen and (max-height: 668px) and (max-width: 384px)  {
  .i-image-box {
    min-height: 2em !important;
  }

  .i-stat__entry {
    font-size: smaller;
  }

  #discover, #deploy, #eui-repair, #draw, #draw[sbgcui-possible-lines]::after {
    font-size: smaller;
    font-weight: lighter;
    min-height: 35px;
  }

  .popup-close[data-round=true], #inventory__close[data-round=true] {
    font-size: 1.25em!important;
  }

  .sbgcui_navbutton, .sbgcui_jumpToButton {
    font-size: 20px;
  }

  .catalysers-list__amount, .cores-list__amount {
    font-size: 0.75em;
  }
}

/* SETTINGS */

input:checked {
  accent-color: var(--i-btn-color);
  filter: drop-shadow(0px 0px 6px var(--i-btn-border-color));
}

input[type='range'] {
  background: var(--i-btn-bg-color) !important;
  border-radius: 0px !important;
  border: 2px solid var(--i-btn-border-color) !important;
}

input[type='range']::-webkit-slider-thumb {
  border-radius: 0px;
  background: var(--i-btn-border-color);
  box-shadow: -250px 0 0 250px var(--i-btn-border-color);
}

input[type='range']::-moz-range-thumb {
  border-radius: 0px;
  background: var(--i-btn-border-color);
  box-shadow: -250px 0 0 250px var(--i-btn-border-color);
}

/* CUI */
.sbgcui_log {
  background-color: var(--i-bg-color-cc);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.sbgcui_log-close, #sbgcui_hide_viewer {
  border: 2px solid !important;
}