:root {
  --blur5: none !important;
  --blur10: none !important;
}

.ol-layer__base,
.ol-layer__player,
.ol-layer__lines,
.ol-layer__regions {
  filter: none !important;
}

#catalysers-list>.splide__slide.is-active>.catalysers-list__level, #cores-list>.splide__slide.is-active>.cores-list__level {
  animation: none !important;
}

.i-stat__core.selected {
  animation: none !important;
}

.popup {
  transition: none !important;
}

#eui-links-opacity:disabled,
#eui-regions-opacity:disabled {
  opacity: 0.5;
}